<?xml version="1.0"?>
<!--
  - SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="bootstrap.php"
	colors="true"
	cacheDirectory="../.phpunit.cache">
	<testsuites>
		<testsuite name="dbdoctor-unit">
			<directory suffix="Test.php">./Unit</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>../lib</directory>
		</include>
	</source>
</phpunit>
